In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../qc_data/nsn_grassland_area_annual_GPW_QC.csv')

In [3]:
df.columns.values

array(['system:index', 'ADM_LEVEL', 'CC_2', 'COUNTRY', 'COUNTRY_NO',
       'ENGTYPE_2', 'FID_TCL_QC', 'FID_world_', 'GID_0', 'GID_1', 'GID_2',
       'HASC_2', 'ISDISPUTED', 'Id', 'MAX_LEVEL', 'NAME_0', 'NAME_0_NOR',
       'NAME_1', 'NAME_1_NOR', 'NAME_2', 'NAME_2_NOR', 'NL_NAME_1',
       'NL_NAME_2', 'SIZE', 'TYPE_2', 'VARNAME_2', 'year_2000',
       'year_2001', 'year_2002', 'year_2003', 'year_2004', 'year_2005',
       'year_2006', 'year_2007', 'year_2008', 'year_2009', 'year_2010',
       'year_2011', 'year_2012', 'year_2013', 'year_2014', 'year_2015',
       'year_2016', 'year_2017', 'year_2018', 'year_2019', 'year_2020',
       'year_2021', 'year_2022', 'year_2023', 'year_2024', '.geo'],
      dtype=object)

In [4]:
adm0 = df[((df.GID_2.isnull()) & (df.GID_1.isnull()))]
adm1 = df[((df.GID_2.isnull()) & (~df.GID_1.isnull()))]
adm2 = df[~df.GID_2.isnull()]

In [10]:
columns = df.columns[26:-1].values
columns

array(['year_2000', 'year_2001', 'year_2002', 'year_2003', 'year_2004',
       'year_2005', 'year_2006', 'year_2007', 'year_2008', 'year_2009',
       'year_2010', 'year_2011', 'year_2012', 'year_2013', 'year_2014',
       'year_2015', 'year_2016', 'year_2017', 'year_2018', 'year_2019',
       'year_2020', 'year_2021', 'year_2022', 'year_2023', 'year_2024'],
      dtype=object)

In [11]:
adm2_2024 = adm2[columns]

adm2_2024.index = adm2.GID_2.str.rstrip('_1')
adm2_2024.head()

,year_2000,year_2001,year_2002,year_2003,year_2004,year_2005,year_2006,year_2007,year_2008,year_2009,...,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023,year_2024
GID_2,,,,,,,,,,,,,,,,,,,,,
COD.6.10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
COD.6.10,84.308373,83.923752,84.846792,86.000614,86.308327,90.846845,98.154601,106.077704,114.154646,124.000850,...,193.233117,201.464027,206.541063,204.848836,203.541053,199.156371,200.079420,202.848620,211.925450,218.463804
COD.6.10,36.232018,35.847398,34.847375,34.308870,33.308811,34.078042,35.001147,37.462770,42.616774,49.386178,...,90.002462,102.541308,115.387623,125.849337,143.618950,152.234700,159.465779,173.773625,193.927598,211.697122
COD.6.10,3.998824,4.229525,3.921941,3.691233,4.152707,4.998742,5.844855,5.460373,5.614240,5.921919,...,16.302847,21.455124,28.683798,35.143450,41.064737,43.525637,46.447972,57.906143,104.661536,163.106695
COD.6.10,298.631101,295.940065,291.480632,286.560051,276.485747,276.486268,288.100425,304.175172,326.481026,348.787429,...,407.855875,423.005003,442.153953,478.684875,516.908332,563.671278,624.355770,704.807779,782.336304,813.562843

In [12]:
adm1_2024 = adm1[columns]

adm1_2024.index = adm1.GID_1.str.rstrip('_1')
adm1_2024.head()

,year_2000,year_2001,year_2002,year_2003,year_2004,year_2005,year_2006,year_2007,year_2008,year_2009,...,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023,year_2024
GID_1,,,,,,,,,,,,,,,,,,,,,
MYS.13,2152.621995,1904.093579,1515.611147,1272.725853,1026.166346,938.517889,858.325245,779.579845,783.497527,992.104729,...,1135.346698,1009.579787,859.043160,735.034239,645.460572,599.135185,580.490823,548.660257,553.411356,575.109023
MYS.13,3026.352675,2828.927181,2549.371518,2411.303332,2353.730422,2408.644671,2410.005224,2343.003943,2284.740136,2268.262846,...,2251.382136,2139.514109,2069.230889,1992.371996,1797.798991,1577.521481,1452.857099,1464.602622,1640.204725,1821.851625
MYS.13,5012.784062,4641.179760,4386.016143,4716.341259,5266.874001,5245.402063,4864.256464,4591.539241,4653.391495,4558.958656,...,2628.775908,2154.932310,1949.230576,2058.027820,2148.179839,2066.136053,2027.045291,1999.515831,2189.176910,2349.462744
MYS.13,201.421175,203.185708,209.935770,220.215265,221.979978,217.759776,205.946364,195.053862,186.309164,182.089835,...,167.825334,172.965083,174.959920,217.603028,255.719495,252.731161,255.493709,260.555538,262.625952,265.387011
MYS.13,18.326254,18.326254,18.326254,18.326254,18.326246,18.096203,18.402916,18.556270,18.786304,18.632938,...,18.862835,19.706296,20.243061,19.859670,19.629631,19.169543,18.402748,17.635964,16.332420,16.255742

In [13]:
adm0_2024 = adm0[columns]

adm0_2024.index = adm0.GID_0.str.rstrip('_1')
adm0_2024.head()

,year_2000,year_2001,year_2002,year_2003,year_2004,year_2005,year_2006,year_2007,year_2008,year_2009,...,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023,year_2024
GID_0,,,,,,,,,,,,,,,,,,,,,
CZE,37.704340,29.817951,21.931083,18.521661,19.997084,20.556830,20.302498,22.795967,24.628252,15.927319,...,6.004908,6.717276,7.429565,7.276908,6.971593,7.178012,7.024521,6.819669,6.768169,7.073474
CZE,0.204058,0.204058,0.153174,0.613743,1.278632,1.176343,1.022896,0.000000,0.000000,0.000000,...,0.000000,0.152958,0.815781,0.152958,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CZE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CZE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CZE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [60]:
adm0_2024.loc['CZE'].sum(axis=0)

year_2000    39.622604
year_2001    31.079750
year_2002    22.540621
year_2003    19.542009
year_2004    21.627973
year_2005    22.129293
year_2006    21.472609
year_2007    22.894097
year_2008    24.729894
year_2009    16.941909
year_2010    11.997957
year_2011    12.909942
year_2012    13.718017
year_2013    13.666435
year_2014    14.933757
year_2015    17.173485
year_2016    21.796806
year_2017    28.251942
year_2018    28.607264
year_2019    26.316044
year_2020    25.861839
year_2021    24.077567
year_2022    22.854818
year_2023    22.596985
year_2024    24.934204
dtype: float64

In [14]:
qc_adm0 = adm0_2024.groupby(level=0).sum()
qc_adm1 = adm1_2024.groupby(level=0).sum()
qc_adm2 = adm2_2024.groupby(level=0).sum()

In [ ]:
column_mapping = {year: int(year[-4:]) for year in adm0_2024.columns}

In [17]:
qc_adm0 = adm0_2024.groupby(level=0).sum()
qc_adm1 = adm1_2024.groupby(level=0).sum()
qc_adm2 = adm2_2024.groupby(level=0).sum()

In [19]:
qc_adm0

,year_2000,year_2001,year_2002,year_2003,year_2004,year_2005,year_2006,year_2007,year_2008,year_2009,...,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023,year_2024
GID_0,,,,,,,,,,,,,,,,,,,,,
CZE,3.962260e+01,3.107975e+01,2.254062e+01,1.954201e+01,2.162797e+01,2.212929e+01,2.147261e+01,2.289410e+01,2.472989e+01,1.694191e+01,...,1.717348e+01,2.179681e+01,2.825194e+01,2.860726e+01,2.631604e+01,2.586184e+01,2.407757e+01,2.285482e+01,2.259698e+01,2.493420e+01
GMB,1.377008e+04,1.360160e+04,1.344228e+04,1.338218e+04,1.335976e+04,1.349174e+04,1.362723e+04,1.368932e+04,1.393671e+04,1.407961e+04,...,1.289972e+04,1.301941e+04,1.302783e+04,1.304114e+04,1.315710e+04,1.326189e+04,1.328497e+04,1.336164e+04,1.354821e+04,1.375123e+04
NZL,4.048006e+06,4.056470e+06,4.057998e+06,4.048977e+06,4.035934e+06,4.028910e+06,4.015424e+06,4.011898e+06,4.010095e+06,4.013482e+06,...,3.966097e+06,3.955469e+06,3.960921e+06,3.962647e+06,3.956654e+06,3.941792e+06,3.919803e+06,3.869688e+06,3.831681e+06,3.822167e+06

In [26]:

qc_adm0.rename(columns=column_mapping, inplace=True)

qc_adm1.rename(columns=column_mapping, inplace=True)

qc_adm2.rename(columns=column_mapping, inplace=True)

In [27]:
qc_adm2.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
GID_2,,,,,,,,,,,,,,,,,,,,,
COD.6.10,8661.548644,8633.179345,8604.344882,8581.740547,8499.707490,8471.345040,8494.571971,8515.880881,8542.965013,8549.062309,...,8733.388112,8815.905151,8810.859167,8772.443521,8676.298459,8574.216605,8502.885028,8544.347093,8700.229680,8836.961017
IDN.14.13,70424.425519,70502.771809,70777.435497,72130.743450,73069.374571,73777.717491,74131.545801,73150.375790,70382.392493,67087.032612,...,73656.015369,77194.442933,81572.291612,83010.194049,81872.289697,81264.765844,80958.448625,82974.195994,88910.565154,91827.363239
PER.18.3,13918.704478,13892.972871,14003.834496,14327.686160,14531.012168,14696.911107,14767.950450,14928.987402,15148.055144,15560.466270,...,20799.315498,22249.839273,23602.290835,24720.815824,25416.641730,25640.834030,25707.890738,25599.800546,25603.160789,25731.851609

In [36]:
api_adm2_results = {
    "data": {
        "result": {
            "year": [
                2000,
                2001,
                2002,
                2003,
                2004,
                2005,
                2006,
                2007,
                2008,
                2009,
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017,
                2018,
                2019,
                2020,
                2021,
                2022,
                2000,
                2001,
                2002,
                2003,
                2004,
                2005,
                2006,
                2007,
                2008,
                2009,
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017,
                2018,
                2019,
                2020,
                2021,
                2022
            ],
            "grassland_area": [
                34363.70703125,
                30386.181640625,
                30907.103515625,
                36578.1171875,
                42464.84375,
                50479.421875,
                53958.56640625,
                48866.55859375,
                38436.2734375,
                34381.37109375,
                33354.08984375,
                30270.482421875,
                25602.900390625,
                25504.654296875,
                33390.921875,
                43540.36328125,
                48386.4296875,
                53506.9765625,
                64960.34375,
                76785.640625,
                66898.7109375,
                52052.04296875,
                47914.0703125,
                3669.37158203125,
                3719.993896484375,
                3809.712890625,
                3774.42236328125,
                3458.81591796875,
                3607.360107421875,
                3383.26806640625,
                3430.578857421875,
                3600.28759765625,
                4051.489501953125,
                3732.0458984375,
                3796.19921875,
                3854.18603515625,
                3851.44921875,
                3898.530029296875,
                4226.60302734375,
                4125.51513671875,
                4308.384765625,
                4249.34130859375,
                4254.67578125,
                4501.35205078125,
                4716.87060546875,
                4981.068359375
            ],
            "aoi_id": [
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3"
            ],
            "aoi_type": [
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin"
            ]
        },
        "metadata": {
            "aoi": {
                "ids": [
                    "COD.6.10",
                    "IDN.14.13",
                    "PER.18.3"
                ],
                "provider": "gadm",
                "type": "admin",
                "version": "4.1"
            },
            "end_year": "2024",
            "start_year": "2000"
        },
        "message": None,
        "status": "saved"
    },
    "status": "success"
}

api_adm2 = pd.DataFrame(api_adm2_results['data']['result'])
api_adm2.set_index('aoi_id', drop=True, inplace=True)
api_adm2.drop('aoi_type', inplace=True, axis=1)

In [31]:
qc_adm2.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
GID_2,,,,,,,,,,,,,,,,,,,,,
COD.6.10,8661.548644,8633.179345,8604.344882,8581.740547,8499.707490,8471.345040,8494.571971,8515.880881,8542.965013,8549.062309,...,8733.388112,8815.905151,8810.859167,8772.443521,8676.298459,8574.216605,8502.885028,8544.347093,8700.229680,8836.961017
IDN.14.13,70424.425519,70502.771809,70777.435497,72130.743450,73069.374571,73777.717491,74131.545801,73150.375790,70382.392493,67087.032612,...,73656.015369,77194.442933,81572.291612,83010.194049,81872.289697,81264.765844,80958.448625,82974.195994,88910.565154,91827.363239
PER.18.3,13918.704478,13892.972871,14003.834496,14327.686160,14531.012168,14696.911107,14767.950450,14928.987402,15148.055144,15560.466270,...,20799.315498,22249.839273,23602.290835,24720.815824,25416.641730,25640.834030,25707.890738,25599.800546,25603.160789,25731.851609

In [37]:
api_adm2 = api_adm2.pivot(columns='year', values='grassland_area')

In [38]:
api_adm2

year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
aoi_id,,,,,,,,,,,,,,,,,,,,,
IDN.14.13,34363.707031,30386.181641,30907.103516,36578.117188,42464.843750,50479.421875,53958.566406,48866.558594,38436.273438,34381.371094,...,25504.654297,33390.921875,43540.363281,48386.429688,53506.976562,64960.343750,76785.640625,66898.710938,52052.042969,47914.070312
PER.18.3,3669.371582,3719.993896,3809.712891,3774.422363,3458.815918,3607.360107,3383.268066,3430.578857,3600.287598,4051.489502,...,3851.449219,3898.530029,4226.603027,4125.515137,4308.384766,4249.341309,4254.675781,4501.352051,4716.870605,4981.068359

In [34]:
qc_adm2

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
GID_2,,,,,,,,,,,,,,,,,,,,,
COD.6.10,8661.548644,8633.179345,8604.344882,8581.740547,8499.707490,8471.345040,8494.571971,8515.880881,8542.965013,8549.062309,...,8733.388112,8815.905151,8810.859167,8772.443521,8676.298459,8574.216605,8502.885028,8544.347093,8700.229680,8836.961017
IDN.14.13,70424.425519,70502.771809,70777.435497,72130.743450,73069.374571,73777.717491,74131.545801,73150.375790,70382.392493,67087.032612,...,73656.015369,77194.442933,81572.291612,83010.194049,81872.289697,81264.765844,80958.448625,82974.195994,88910.565154,91827.363239
PER.18.3,13918.704478,13892.972871,14003.834496,14327.686160,14531.012168,14696.911107,14767.950450,14928.987402,15148.055144,15560.466270,...,20799.315498,22249.839273,23602.290835,24720.815824,25416.641730,25640.834030,25707.890738,25599.800546,25603.160789,25731.851609

In [39]:
np.abs(api_adm2 - qc_adm2) / qc_adm2 * 100

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
COD.6.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IDN.14.13,51.204846,56.900728,56.331982,49.289144,41.884211,31.579041,27.212409,33.197119,45.389362,48.751093,...,40.886887,37.318766,34.405451,21.744137,6.212907,17.678086,35.705237,42.254252,NaN,NaN
PER.18.3,73.637118,73.223917,72.795216,73.656442,76.197006,75.454978,77.090470,77.020686,76.232674,73.962930,...,79.679124,81.458225,81.745904,82.810675,83.260276,82.444596,81.652051,80.542550,NaN,NaN

In [41]:
api_adm1_results = {
    "data": {
        "result": {
            "year": [
                2000,
                2001,
                2002,
                2003,
                2004,
                2005,
                2006,
                2007,
                2008,
                2009,
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017,
                2018,
                2019,
                2020,
                2021,
                2022,
                2000,
                2001,
                2002,
                2003,
                2004,
                2005,
                2006,
                2007,
                2008,
                2009,
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017,
                2018,
                2019,
                2020,
                2021,
                2022,
                2000,
                2001,
                2002,
                2003,
                2004,
                2005,
                2006,
                2007,
                2008,
                2009,
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017,
                2018,
                2019,
                2020,
                2021,
                2022
            ],
            "grassland_area": [
                2598.0541258230805,
                2984.027355618775,
                3465.790419690311,
                3511.284373804927,
                2873.6996244490147,
                2139.9107150807977,
                1854.921158991754,
                1886.6845927610993,
                2084.5797189474106,
                2522.4314849227667,
                2848.204131901264,
                2864.4990389198065,
                2862.2599923163652,
                3134.1223887205124,
                3401.7627733647823,
                3575.0161991119385,
                3200.7293524742126,
                2610.554225742817,
                2693.7724652588367,
                3030.8615348413587,
                3269.2797546088696,
                3260.3445186018944,
                3508.6945065259933,
                47423.54427796602,
                47712.14472961426,
                47338.904811382294,
                46649.457762002945,
                45864.1674477607,
                46682.627846717834,
                46772.708169698715,
                45964.0119189024,
                46075.298251748085,
                44225.98300355673,
                43839.26460266113,
                45688.51543998718,
                46887.785150527954,
                47654.14058494568,
                48771.91465187073,
                49576.08182525635,
                47868.2401907444,
                46904.08255946636,
                47317.89578041434,
                47590.19014215469,
                45543.05109810829,
                43768.97682595253,
                43827.688470840454,
                16674046.042480469,
                16837488.565307617,
                16852510.892547607,
                16894559.040771484,
                16921740.255371094,
                17174177.92553711,
                17268234.987426758,
                17179287.405395508,
                17159362.37939453,
                17126726.43572998,
                17177545.09338379,
                17020121.03173828,
                16904763.668945312,
                16689414.280578613,
                16507707.17112732,
                16489844.468444824,
                16554221.986938477,
                16723811.556640625,
                16713913.091796875,
                16705611.666809082,
                16566134.982345581,
                16679362.118865967,
                16784738.73197937
            ],
            "aoi_id": [
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6"
            ],
            "aoi_type": [
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin"
            ]
        },
        "metadata": {
            "aoi": {
                "ids": [
                    "MYS.13",
                    "SUR.9",
                    "USA.6"
                ],
                "provider": "gadm",
                "type": "admin",
                "version": "4.1"
            },
            "end_year": "2024",
            "start_year": "2000"
        },
        "message": None,
        "status": "saved"
    },
    "status": "success"
}


api_adm1 = pd.DataFrame(api_adm1_results['data']['result'])
api_adm1.set_index('aoi_id', drop=True, inplace=True)
api_adm1.drop('aoi_type', inplace=True, axis=1)

In [42]:
api_adm1 = api_adm1.pivot(columns='year', values='grassland_area')

In [43]:
api_adm1

year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
aoi_id,,,,,,,,,,,,,,,,,,,,,
MYS.13,2.598054e+03,2.984027e+03,3.465790e+03,3.511284e+03,2.873700e+03,2.139911e+03,1.854921e+03,1.886685e+03,2.084580e+03,2.522431e+03,...,3.134122e+03,3.401763e+03,3.575016e+03,3.200729e+03,2.610554e+03,2.693772e+03,3.030862e+03,3.269280e+03,3.260345e+03,3.508695e+03
SUR.9,4.742354e+04,4.771214e+04,4.733890e+04,4.664946e+04,4.586417e+04,4.668263e+04,4.677271e+04,4.596401e+04,4.607530e+04,4.422598e+04,...,4.765414e+04,4.877191e+04,4.957608e+04,4.786824e+04,4.690408e+04,4.731790e+04,4.759019e+04,4.554305e+04,4.376898e+04,4.382769e+04
USA.6,1.667405e+07,1.683749e+07,1.685251e+07,1.689456e+07,1.692174e+07,1.717418e+07,1.726823e+07,1.717929e+07,1.715936e+07,1.712673e+07,...,1.668941e+07,1.650771e+07,1.648984e+07,1.655422e+07,1.672381e+07,1.671391e+07,1.670561e+07,1.656613e+07,1.667936e+07,1.678474e+07

In [44]:
qc_adm1

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
GID_1,,,,,,,,,,,,,,,,,,,,,
MYS.13,2.938010e+04,2.659971e+04,2.369829e+04,2.318001e+04,2.311985e+04,2.283028e+04,2.206136e+04,2.136785e+04,2.145916e+04,2.194521e+04,...,2.697579e+04,2.461768e+04,2.191645e+04,2.012557e+04,1.871258e+04,1.740154e+04,1.649408e+04,1.599204e+04,1.669638e+04,1.743337e+04
SUR.9,6.842168e+04,6.843706e+04,6.866732e+04,6.908126e+04,6.949456e+04,6.982105e+04,6.998660e+04,7.017870e+04,7.062528e+04,7.136954e+04,...,8.262581e+04,8.449979e+04,8.592681e+04,8.699105e+04,8.802222e+04,8.886880e+04,8.932252e+04,8.953030e+04,8.992401e+04,9.031762e+04
USA.6,1.256262e+07,1.262531e+07,1.274529e+07,1.285076e+07,1.289342e+07,1.286841e+07,1.283161e+07,1.277864e+07,1.274477e+07,1.271315e+07,...,1.291918e+07,1.280611e+07,1.268083e+07,1.262443e+07,1.264380e+07,1.266651e+07,1.270398e+07,1.274096e+07,1.288450e+07,1.289491e+07

In [45]:
np.abs(api_adm1 - qc_adm1) / qc_adm1 * 100

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
aoi_id,,,,,,,,,,,,,,,,,,,,,
MYS.13,91.157096,88.781731,85.375354,84.852104,87.570423,90.626874,91.591991,91.170451,90.285827,88.505779,...,86.747314,86.998248,88.088606,86.615173,83.803079,81.212704,80.233239,78.059739,NaN,NaN
SUR.9,30.689306,30.283179,31.060506,32.471612,34.003226,33.139607,33.169052,34.504329,34.760900,38.032416,...,39.999280,43.351057,45.413911,45.606019,45.933892,48.752483,50.998947,51.047087,NaN,NaN
USA.6,32.727429,33.362952,32.225418,31.467393,31.243276,33.459964,34.575770,34.437509,34.638452,34.716614,...,27.638439,29.268123,31.882585,32.393455,32.124879,30.786898,31.292459,31.738415,NaN,NaN

In [54]:
api_adm0_results = {
    "data": {
        "result": {
            "year": [
                2000,
                2001,
                2002,
                2003,
                2004,
                2005,
                2006,
                2007,
                2008,
                2009,
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017,
                2018,
                2019,
                2020,
                2021,
                2022,
                2000,
                2001,
                2002,
                2003,
                2004,
                2005,
                2006,
                2007,
                2008,
                2009,
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017,
                2018,
                2019,
                2020,
                2021,
                2022,
                2000,
                2001,
                2002,
                2003,
                2004,
                2005,
                2006,
                2007,
                2008,
                2009,
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017,
                2018,
                2019,
                2020,
                2021,
                2022
            ],
            "grassland_area": [
                849.6290827989578,
                845.2283146381378,
                692.9186368659139,
                625.0361513495445,
                1012.5555812828243,
                1287.7011326104403,
                1571.7993707619607,
                1629.9632735848427,
                1148.8112275116146,
                690.9631793498993,
                525.3610567897558,
                684.5153419449925,
                833.2597936503589,
                1100.0164749622345,
                967.1758397817612,
                749.1222692281008,
                947.8335502184927,
                1625.941529724747,
                2567.2978045344353,
                2074.069903612137,
                1253.4250954389572,
                806.1550979465246,
                840.2442799955606,
                181658.02872562408,
                149155.53134918213,
                121741.42916917801,
                119580.87449407578,
                130939.71384763718,
                134962.4391798973,
                132430.96212244034,
                136558.3990831375,
                150112.0259885788,
                146342.70358228683,
                144944.4089603424,
                146372.1508436203,
                153958.85224628448,
                139054.2221212387,
                127227.11041116714,
                135981.04818725586,
                143998.53754901886,
                138194.75470638275,
                135226.25389766693,
                145891.75792980194,
                161717.6555943489,
                148930.21009111404,
                127591.00641441345,
                4024380.2922514677,
                4011142.781792879,
                4028754.447391331,
                4056596.904882543,
                3994810.9281415343,
                3908608.7173595056,
                3859098.661690429,
                3934551.109392911,
                4033671.451734543,
                4139247.574381277,
                4142971.5545041934,
                4122529.661428094,
                4091317.478925314,
                4032689.0898189545,
                4002507.981736958,
                4017157.9928723574,
                3994348.498833932,
                3811487.4315497354,
                3726396.442487687,
                3734777.8014169484,
                3790548.5275775976,
                3844159.4660490938,
                3973542.674768865
            ],
            "aoi_id": [
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL"
            ],
            "aoi_type": [
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin"
            ]
        },
        "metadata": {
            "aoi": {
                "ids": [
                    "CZE",
                    "GMB",
                    "NZL"
                ],
                "provider": "gadm",
                "type": "admin",
                "version": "4.1"
            },
            "end_year": "2024",
            "start_year": "2000"
        },
        "message": None,
        "status": "saved"
    },
    "status": "success"
}

api_adm0 = pd.DataFrame(api_adm0_results['data']['result'])
api_adm0.set_index('aoi_id', drop=True, inplace=True)
api_adm0.drop('aoi_type', inplace=True, axis=1)

In [55]:
api_adm0 = api_adm0.pivot(columns='year', values='grassland_area')

In [56]:
api_adm0

year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
aoi_id,,,,,,,,,,,,,,,,,,,,,
CZE,8.496291e+02,8.452283e+02,6.929186e+02,6.250362e+02,1.012556e+03,1.287701e+03,1.571799e+03,1.629963e+03,1.148811e+03,6.909632e+02,...,1.100016e+03,9.671758e+02,7.491223e+02,9.478336e+02,1.625942e+03,2.567298e+03,2.074070e+03,1.253425e+03,8.061551e+02,8.402443e+02
GMB,1.816580e+05,1.491555e+05,1.217414e+05,1.195809e+05,1.309397e+05,1.349624e+05,1.324310e+05,1.365584e+05,1.501120e+05,1.463427e+05,...,1.390542e+05,1.272271e+05,1.359810e+05,1.439985e+05,1.381948e+05,1.352263e+05,1.458918e+05,1.617177e+05,1.489302e+05,1.275910e+05
NZL,4.024380e+06,4.011143e+06,4.028754e+06,4.056597e+06,3.994811e+06,3.908609e+06,3.859099e+06,3.934551e+06,4.033671e+06,4.139248e+06,...,4.032689e+06,4.002508e+06,4.017158e+06,3.994348e+06,3.811487e+06,3.726396e+06,3.734778e+06,3.790549e+06,3.844159e+06,3.973543e+06

In [57]:
qc_adm0

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
GID_0,,,,,,,,,,,,,,,,,,,,,
CZE,3.962260e+01,3.107975e+01,2.254062e+01,1.954201e+01,2.162797e+01,2.212929e+01,2.147261e+01,2.289410e+01,2.472989e+01,1.694191e+01,...,1.717348e+01,2.179681e+01,2.825194e+01,2.860726e+01,2.631604e+01,2.586184e+01,2.407757e+01,2.285482e+01,2.259698e+01,2.493420e+01
GMB,1.377008e+04,1.360160e+04,1.344228e+04,1.338218e+04,1.335976e+04,1.349174e+04,1.362723e+04,1.368932e+04,1.393671e+04,1.407961e+04,...,1.289972e+04,1.301941e+04,1.302783e+04,1.304114e+04,1.315710e+04,1.326189e+04,1.328497e+04,1.336164e+04,1.354821e+04,1.375123e+04
NZL,4.048006e+06,4.056470e+06,4.057998e+06,4.048977e+06,4.035934e+06,4.028910e+06,4.015424e+06,4.011898e+06,4.010095e+06,4.013482e+06,...,3.966097e+06,3.955469e+06,3.960921e+06,3.962647e+06,3.956654e+06,3.941792e+06,3.919803e+06,3.869688e+06,3.831681e+06,3.822167e+06

In [58]:
np.abs(api_adm0 - qc_adm0) / qc_adm0 * 100

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
aoi_id,,,,,,,,,,,,,,,,,,,,,
CZE,2044.303999,2619.546712,2974.088553,3098.423202,4581.694239,5718.988940,7220.020527,7019.578762,4545.435248,3978.425841,...,4262.086556,4248.497530,5655.149571,8874.286353,7781.389480,4746.620186,3248.158419,3576.442738,NaN,NaN
GMB,1219.222451,996.603231,805.660498,793.582948,880.104920,900.333998,871.811141,897.554041,977.098051,939.394546,...,954.139775,1006.030094,960.765398,936.920217,1008.844124,1119.416605,1021.043284,854.904996,NaN,NaN
NZL,0.583648,1.117412,0.720647,0.188191,1.018919,2.985955,3.893118,1.927943,0.587927,3.133581,...,1.287443,0.982928,3.772707,5.961940,5.607669,3.836930,1.929778,2.683801,NaN,NaN