In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../qc_data/zenoQC_landCover_ha.csv')

In [3]:
adm2 = df[~df.GID_2.isnull()]

In [4]:
adm1 = df[((df.GID_2.isnull()) & (~df.GID_1.isnull()))]

In [5]:
adm0 = df[((df.GID_2.isnull()) & (df.GID_1.isnull()))]

In [6]:
columns = [
    '2024_bare_sparse',
    '2024_built', 
    '2024_cropland',
    '2024_cultivatedGrasslands',
    '2024_shortVeg',
    '2024_treeCover',
    '2024_water',
    '2024_wetlandShortVeg',
    '2024_snowIce'
]

In [7]:
adm2_2024 = adm2[columns]

adm2_2024.index = adm2.GID_2.str.rstrip('_1')
adm2_2024.head()

,2024_bare_sparse,2024_built,2024_cropland,2024_cultivatedGrasslands,2024_shortVeg,2024_treeCover,2024_water,2024_wetlandShortVeg,2024_snowIce
GID_2,,,,,,,,,
COD.6.10,0.000000,0.000000,0.000000,0.000000,3.230693,2.199063e+04,0.000000,0.000000,0.0
COD.6.10,41.076935,52.001378,1.307771,0.000000,7550.263971,4.646453e+05,765.997777,166.307328,0.0
COD.6.10,66.923113,2471.187540,0.461550,0.076927,17788.432919,1.465036e+05,195.460860,227.235096,0.0
COD.6.10,70.065202,3081.151353,0.307590,4.383161,10447.752003,2.980571e+05,1182.405652,342.301014,0.0
COD.6.10,467.412253,2790.592335,47.455681,0.615272,9762.102779,1.123630e+06,4439.750833,524.011825,0.0

In [8]:
adm1_2024 = adm1[columns]

adm1_2024.index = adm1.GID_1.str.rstrip('_1')
adm1_2024.head()

,2024_bare_sparse,2024_built,2024_cropland,2024_cultivatedGrasslands,2024_shortVeg,2024_treeCover,2024_water,2024_wetlandShortVeg,2024_snowIce
GID_1,,,,,,,,,
MYS.13,9.276013,9034.467667,125.350982,22.078492,3013.166225,329904.090767,285.792975,328.462231,0.0
MYS.13,16.256939,13868.340610,42.859258,55.583777,10946.348129,777240.171203,486.221680,349.209907,0.0
MYS.13,218.940873,35458.294749,11.198539,1223.140006,22126.331642,817895.880521,3719.671798,1963.417871,0.0
MYS.13,348.034415,32094.249046,63.439235,238.409138,14832.403573,302062.437136,6844.467880,3703.646414,0.0
MYS.13,2.530363,0.000000,0.000000,0.000000,6.517593,12.422013,14.108516,8.434556,0.0

In [31]:
adm0_2024 = adm0[columns]

adm0_2024.index = adm0.GID_0.str.rstrip('_1')
adm0_2024.head()

,2024_bare_sparse,2024_built,2024_cropland,2024_cultivatedGrasslands,2024_shortVeg,2024_treeCover,2024_water,2024_wetlandShortVeg,2024_snowIce
GID_0,,,,,,,,,
CZE,3.216696,8352.227315,51.020445,8521.639099,2740.606925,45811.607359,156.776526,25.167601,0.0
CZE,148.359812,67221.606964,21492.865934,49359.207276,10435.080721,129558.721266,7582.115078,478.946508,0.0
CZE,24.392163,13265.999536,26620.543264,1651.451188,2071.187237,20959.116866,660.661054,53.626326,0.0
CZE,52.824792,38914.334184,111642.832630,3277.909001,17583.269457,30953.922986,4745.780952,1221.744039,0.0
CZE,11.772002,19378.710559,35151.243391,9146.559428,8608.046195,34205.190037,644.555153,497.151859,0.0

In [10]:
qc_adm0 = adm0_2024.groupby(level=0).sum()
qc_adm1 = adm1_2024.groupby(level=0).sum()
qc_adm2 = adm2_2024.groupby(level=0).sum()

In [11]:
column_mapping = {
    '2024_bare_sparse': 'Bare and sparse vegetation',
    '2024_shortVeg': 'Short vegetation', 
    '2024_treeCover': 'Tree cover',
    '2024_wetlandShortVeg': 'Wetland – short vegetation',
    '2024_water': 'Water',
    '2024_cropland': 'Cropland',
    '2024_built': 'Built-up',
    '2024_cultivatedGrasslands': 'Cultivated grasslands',
    '2024_snowIce': 'Snow/ice'
}

qc_adm0.rename(columns=column_mapping, inplace=True)

qc_adm1.rename(columns=column_mapping, inplace=True)

qc_adm2.rename(columns=column_mapping, inplace=True)

In [12]:
qc_adm1.head()

,Bare and sparse vegetation,Built-up,Cropland,Cultivated grasslands,Short vegetation,Tree cover,Water,Wetland – short vegetation,Snow/ice
GID_1,,,,,,,,,
MYS.13,2.033040e+03,4.652807e+05,8.480168e+03,5579.030926,2.005836e+05,6.596280e+06,40835.712510,68118.825350,0.000000
SUR.9,5.329075e+03,3.554265e+04,0.000000e+00,40.416092,7.895460e+04,1.112802e+07,60320.618956,9830.194425,0.000000
USA.6,1.322413e+06,1.974459e+06,2.835543e+06,185976.724279,1.374899e+07,6.779855e+06,70700.891574,55953.444273,390.072883

In [13]:
api_adm2_results = {
    "data": {
        "result": {
            "aoi_id": [
                "COD.6.10",
                "COD.6.10",
                "COD.6.10",
                "COD.6.10",
                "COD.6.10",
                "COD.6.10",
                "COD.6.10",
                "COD.6.10",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "IDN.14.13",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3",
                "PER.18.3"
            ],
            "aoi_type": [
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin"
            ],
            "land_cover_class": [
                "Bare and sparse vegetation",
                "Short vegetation",
                "Tree cover",
                "Wetland – short vegetation",
                "Water",
                "Cropland",
                "Built-up",
                "Cultivated grasslands",
                "Bare and sparse vegetation",
                "Short vegetation",
                "Tree cover",
                "Wetland – short vegetation",
                "Water",
                "Cropland",
                "Built-up",
                "Cultivated grasslands",
                "Bare and sparse vegetation",
                "Short vegetation",
                "Tree cover",
                "Wetland – short vegetation",
                "Water",
                "Cropland",
                "Built-up",
                "Cultivated grasslands"
            ],
            "land_cover_class_area__ha": [
                898.573974609375,
                77410.6953125,
                1724220.25,
                1521.0018310546875,
                7585.0048828125,
                54.993751525878906,
                12996.8095703125,
                6.152073860168457,
                495.0675964355469,
                32562.134765625,
                1478402,
                134442.09375,
                21191.369140625,
                1637.6090087890625,
                78583.59375,
                29951.939453125,
                4967.4091796875,
                78433.9296875,
                3038376.75,
                21358.6875,
                37437.12109375,
                238.52349853515625,
                17741.62890625,
                33763.36328125
            ]
        },
        "metadata": {
            "aoi": {
                "type": "admin",
                "ids": [
                    "COD.6.10",
                    "IDN.14.13",
                    "PER.18.3"
                ],
                "provider": "gadm",
                "version": "4.1"
            }
        },
        "message": "Analysis completed successfully.",
        "status": "saved"
    },
    "status": "success"
}

api_adm2 = pd.DataFrame(api_adm2_results['data']['result'])
api_adm2.set_index('aoi_id', drop=True, inplace=True)
api_adm2.drop('aoi_type', inplace=True, axis=1)

In [14]:
api_adm2 = api_adm2.pivot(columns='land_cover_class', values='land_cover_class_area__ha')

In [15]:
api_adm2

land_cover_class,Bare and sparse vegetation,Built-up,Cropland,Cultivated grasslands,Short vegetation,Tree cover,Water,Wetland – short vegetation
aoi_id,,,,,,,,
COD.6.10,898.573975,12996.809570,54.993752,6.152074,77410.695312,1724220.25,7585.004883,1521.001831
IDN.14.13,495.067596,78583.593750,1637.609009,29951.939453,32562.134766,1478402.00,21191.369141,134442.093750
PER.18.3,4967.409180,17741.628906,238.523499,33763.363281,78433.929688,3038376.75,37437.121094,21358.687500

In [16]:
qc_adm2

,Bare and sparse vegetation,Built-up,Cropland,Cultivated grasslands,Short vegetation,Tree cover,Water,Wetland – short vegetation,Snow/ice
GID_2,,,,,,,,,
COD.6.10,895.988114,13009.977717,54.993765,6.152072,77519.440581,3.457246e+06,7589.849305,1521.271175,0.0
IDN.14.13,494.914372,78634.421501,1637.680960,29957.237799,32575.350304,1.364579e+06,21195.406011,134470.365981,0.0
PER.18.3,4966.446248,17730.773110,238.520571,33739.837389,78732.352947,3.395975e+06,37395.308752,21338.484360,0.0

### ADMIN 2 diffs

In [17]:
np.abs(api_adm2 - qc_adm2) / qc_adm2 * 100

,Bare and sparse vegetation,Built-up,Cropland,Cultivated grasslands,Short vegetation,Snow/ice,Tree cover,Water,Wetland – short vegetation
aoi_id,,,,,,,,,
COD.6.10,0.288604,0.101216,0.000024,0.000025,0.140281,NaN,50.127344,0.063828,0.017705
IDN.14.13,0.030960,0.064638,0.004393,0.017686,0.040569,NaN,8.341228,0.019046,0.021025
PER.18.3,0.019389,0.061226,0.001227,0.069727,0.379035,NaN,10.530058,0.111812,0.094679

#### For sanity check, lets see if the classes add up to the total area of the subregions

In [18]:
qc_adm2.sum(axis=1)

GID_2
COD.6.10     3.557843e+06
IDN.14.13    1.663545e+06
PER.18.3     3.590117e+06
dtype: float64

In [19]:
api_adm2.sum(axis=1)

aoi_id
COD.6.10     1.824693e+06
IDN.14.13    1.777266e+06
PER.18.3     3.232317e+06
dtype: float64

#### ⚠️ our api severely underestimating area for COD.6.10 and PER.18.3 and overestimates for IDN_14.13, the qc data total areas are accurate

In [20]:
api_adm1_results = {
    "data": {
        "result": {
            "aoi_id": [
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "MYS.13",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "SUR.9",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6",
                "USA.6"
            ],
            "aoi_type": [
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin"
            ],
            "land_cover_class": [
                "Bare and sparse vegetation",
                "Built-up",
                "Cropland",
                "Cultivated grasslands",
                "Short vegetation",
                "Tree cover",
                "Water",
                "Wetland – short vegetation",
                "Bare and sparse vegetation",
                "Built-up",
                "Cultivated grasslands",
                "Short vegetation",
                "Tree cover",
                "Water",
                "Wetland – short vegetation",
                "Bare and sparse vegetation",
                "Built-up",
                "Cropland",
                "Cultivated grasslands",
                "Short vegetation",
                "Snow/ice",
                "Tree cover",
                "Water",
                "Wetland – short vegetation"
            ],
            "land_cover_class_area__ha": [
                6333.25048828125,
                465972.28125,
                8479.0634765625,
                5578.931640625,
                200768.53125,
                6384646.5,
                40938.4609375,
                68158.5859375,
                5335.6748046875,
                35548.671875,
                40.41609573364258,
                78906.6953125,
                10914387,
                60335.34375,
                9831.2236328125,
                1329390.625,
                1971764.125,
                2843618,
                185981.640625,
                13451020,
                390.0736083984375,
                6762852.5,
                70703.734375,
                55955.16015625
            ]
        },
        "metadata": {
            "aoi": {
                "type": "admin",
                "ids": [
                    "MYS.13",
                    "SUR.9",
                    "USA.6"
                ],
                "provider": "gadm",
                "version": "4.1"
            }
        },
        "message": "Analysis completed successfully.",
        "status": "saved"
    },
    "status": "success"
}

api_adm1 = pd.DataFrame(api_adm1_results['data']['result'])
api_adm1.set_index('aoi_id', drop=True, inplace=True)
api_adm1.drop('aoi_type', inplace=True, axis=1)

In [21]:
api_adm1 = api_adm1.pivot(columns='land_cover_class', values='land_cover_class_area__ha')

In [22]:
api_adm1.head()

land_cover_class,Bare and sparse vegetation,Built-up,Cropland,Cultivated grasslands,Short vegetation,Snow/ice,Tree cover,Water,Wetland – short vegetation
aoi_id,,,,,,,,,
MYS.13,6.333250e+03,4.659723e+05,8.479063e+03,5578.931641,2.007685e+05,NaN,6384646.5,40938.460938,68158.585938
SUR.9,5.335675e+03,3.554867e+04,NaN,40.416096,7.890670e+04,NaN,10914387.0,60335.343750,9831.223633
USA.6,1.329391e+06,1.971764e+06,2.843618e+06,185981.640625,1.345102e+07,390.073608,6762852.5,70703.734375,55955.160156

In [23]:
qc_adm1.head()

,Bare and sparse vegetation,Built-up,Cropland,Cultivated grasslands,Short vegetation,Tree cover,Water,Wetland – short vegetation,Snow/ice
GID_1,,,,,,,,,
MYS.13,2.033040e+03,4.652807e+05,8.480168e+03,5579.030926,2.005836e+05,6.596280e+06,40835.712510,68118.825350,0.000000
SUR.9,5.329075e+03,3.554265e+04,0.000000e+00,40.416092,7.895460e+04,1.112802e+07,60320.618956,9830.194425,0.000000
USA.6,1.322413e+06,1.974459e+06,2.835543e+06,185976.724279,1.374899e+07,6.779855e+06,70700.891574,55953.444273,390.072883

### ADMIN 1 diffs

In [24]:
np.abs(api_adm1 - qc_adm1) / qc_adm1 * 100

,Bare and sparse vegetation,Built-up,Cropland,Cultivated grasslands,Short vegetation,Snow/ice,Tree cover,Water,Wetland – short vegetation
aoi_id,,,,,,,,,
MYS.13,211.516347,0.148639,0.013022,0.001780,0.092218,NaN,3.208379,0.251614,0.058369
SUR.9,0.123851,0.016940,NaN,0.000009,0.060674,NaN,1.919786,0.024411,0.010470
USA.6,0.527680,0.136495,0.284764,0.002644,2.167180,0.000186,0.250776,0.004021,0.003067

In [25]:
qc_adm0.head()

,Bare and sparse vegetation,Built-up,Cropland,Cultivated grasslands,Short vegetation,Tree cover,Water,Wetland – short vegetation,Snow/ice
GID_0,,,,,,,,,
CZE,2193.426309,2.127754e+06,2.120744e+06,7.584623e+05,3.127830e+05,2.488451e+06,63402.679847,9.956778e+03,0.000000
GMB,1505.633609,8.517915e+04,2.978390e+05,0.000000e+00,1.490875e+05,3.689493e+05,25780.818492,1.387099e+05,0.000000
NZL,287607.143945,2.261599e+06,4.097628e+05,7.209613e+06,3.818889e+06,1.054980e+07,437454.795358,1.571713e+06,169817.931803

In [26]:
api_adm0_results = {
    "data": {
        "result": {
            "aoi_id": [
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "CZE",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "GMB",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL",
                "NZL"
            ],
            "aoi_type": [
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin",
                "admin"
            ],
            "land_cover_class": [
                "Bare and sparse vegetation",
                "Built-up",
                "Cropland",
                "Cultivated grasslands",
                "Short vegetation",
                "Tree cover",
                "Water",
                "Wetland – short vegetation",
                "Bare and sparse vegetation",
                "Built-up",
                "Cropland",
                "Short vegetation",
                "Tree cover",
                "Water",
                "Wetland – short vegetation",
                "Bare and sparse vegetation",
                "Built-up",
                "Cropland",
                "Cultivated grasslands",
                "Short vegetation",
                "Snow/ice",
                "Tree cover",
                "Water",
                "Wetland – short vegetation"
            ],
            "land_cover_class_area__ha": [
                2206.894287109375,
                2131666.75,
                2124526.5,
                758715.375,
                312793.84375,
                2492747.75,
                63405.04296875,
                9956.7646484375,
                1505.6258544921875,
                85203.65625,
                298245.53125,
                149218.0625,
                369068.40625,
                25779.876953125,
                138749.53125,
                441593.5,
                2259595.5,
                409815.53125,
                7159301,
                3743327,
                170104.421875,
                10314104,
                437156.28125,
                1563326
            ]
        },
        "metadata": {
            "aoi": {
                "type": "admin",
                "ids": [
                    "CZE",
                    "GMB",
                    "NZL"
                ],
                "provider": "gadm",
                "version": "4.1"
            }
        },
        "message": "Analysis completed successfully.",
        "status": "saved"
    },
    "status": "success"
}

api_adm0 = pd.DataFrame(api_adm0_results['data']['result'])
api_adm0.set_index('aoi_id', drop=True, inplace=True)
api_adm0.drop('aoi_type', inplace=True, axis=1)

In [27]:
api_adm0 = api_adm0.pivot(columns='land_cover_class', values='land_cover_class_area__ha')

In [28]:
api_adm0.head()

land_cover_class,Bare and sparse vegetation,Built-up,Cropland,Cultivated grasslands,Short vegetation,Snow/ice,Tree cover,Water,Wetland – short vegetation
aoi_id,,,,,,,,,
CZE,2206.894287,2.131667e+06,2.124526e+06,758715.375,3.127938e+05,NaN,2.492748e+06,63405.042969,9.956765e+03
GMB,1505.625854,8.520366e+04,2.982455e+05,NaN,1.492181e+05,NaN,3.690684e+05,25779.876953,1.387495e+05
NZL,441593.500000,2.259596e+06,4.098155e+05,7159301.000,3.743327e+06,170104.421875,1.031410e+07,437156.281250,1.563326e+06

In [29]:
qc_adm0.head()

,Bare and sparse vegetation,Built-up,Cropland,Cultivated grasslands,Short vegetation,Tree cover,Water,Wetland – short vegetation,Snow/ice
GID_0,,,,,,,,,
CZE,2193.426309,2.127754e+06,2.120744e+06,7.584623e+05,3.127830e+05,2.488451e+06,63402.679847,9.956778e+03,0.000000
GMB,1505.633609,8.517915e+04,2.978390e+05,0.000000e+00,1.490875e+05,3.689493e+05,25780.818492,1.387099e+05,0.000000
NZL,287607.143945,2.261599e+06,4.097628e+05,7.209613e+06,3.818889e+06,1.054980e+07,437454.795358,1.571713e+06,169817.931803

### Country level diffs

In [30]:
np.abs(api_adm0 - qc_adm0) / qc_adm0 * 100

,Bare and sparse vegetation,Built-up,Cropland,Cultivated grasslands,Short vegetation,Snow/ice,Tree cover,Water,Wetland – short vegetation
aoi_id,,,,,,,,,
CZE,0.614016,0.183877,0.178377,0.033368,0.003479,NaN,0.172686,0.003727,0.000135
GMB,0.000515,0.028770,0.136509,NaN,0.087545,NaN,0.032272,0.003652,0.028604
NZL,53.540518,0.088586,0.012879,0.697847,1.978628,0.168704,2.234091,0.068239,0.533621

#### The area issue noted at adm2 levels isn't as significant at adm0 given the class areas mostly match